body {
    margin: 0
}

.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 10%);  
    max-height: 100vh;
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr);
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 5px;
    grid-column: 1 / 3;
    grid-row: 1 / 10 ;
    width: 100%;
    height: 100vh;
    background-color: #e2e2e267;
    border-right: solid;
    border-right-color: rgba(196, 196, 196, 0.199);
    border-right-width: 1px;
}

.sidebar__profile {
    text-align: start;
}

.sidebar__profile-name {
    display: block;
    padding-top: 15px;
    font-size: 1.2rem;
}

.sidebar__profile-title {
    font-size: 0.9rem;
    display: block;
}

.sidebar__navigation {
    font-size: 1.2rem;
    text-align: start;
    align-self:start;
    margin-top: 20px;
    width: 100%;
}
 
.sidebar__navigation-list a {
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.8vh 0;
    color: #000;
    margin-top: auto 0;
}

.sidebar__navigation-list a:hover {
    width: 100%;
    background-color: #ff5765;
    padding-left: 4px;
    border-radius: 2px;
}

.sidebar__navigation-list {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

.greetings {
    display: flex;
    flex-flow: column wrap;
    justify-content:end;
    text-align: start;
    grid-column: 3 / 10;;
    grid-row: 1 / 2;
    margin: 0 2.5vw;
    /* padding-left: 50px; */
}   

.greetings__main {
    font-size: 1.3rem;
}

.greetings__subtitle {
    font-size: 1rem;
}

.task {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 10;
    grid-row: 2 / 7 ;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #c0c0c0;
    background: linear-gradient(#476de9, #7b5ce4, #ff5765be );
    color: white;
    margin: 20px 2.5vw;
}

.task:hover {
    transform: scale(1.008);
}

.task__full-page {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.2vw;
    height: 100vh;
    width: 100vw;
    color: white;
    word-wrap: break-word;
    background: linear-gradient(#476de9, #7b5ce4, #ff5765 );
    animation-duration: 3s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
  
    to {
        opacity: 100%;
    }
}

.task__full-page-close-icon {
    position: absolute;
    right: 2vw;
    top: 2vw;
    font-size: 20px;
    opacity: 20%;
    cursor: pointer;
}

.user {
    grid-column: 10/ 13;
    grid-row: 1 / 11;
    border-left: 1px;
    border-color: #acacac;
    border-style: solid;
} 

.user__collections-title {
    font-size: 1.3rem;
    font-weight: 400;
}

.user__collections-form {
    display: flex;
    flex-direction: column;
}

.user__task-board {
    max-height: 90vh;
    overflow-y: auto;
    background-color: #ebebebc4;
    padding: 0.1vw;
}

.user__task-board-item {
    position: relative;
    word-wrap: break-word;
    padding: 10px 40px;
    background-color: #ebebebc4;
    margin: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(82, 82, 82);
    border-radius: 3px;
}

.user__task-board-item:hover {
    transform: scale(1.01);
    background: #ff5765;
    border-color: #ff5765;
}

.user__task-board-item:active {
    transform: scale(1.01);
    background: #ff5765;
    border-color: #ff5765;
}

.user__item-delete-icon {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 15px;
    opacity: 100%;
    cursor: pointer;
    filter: invert(90%)
}

.user__task-board-collection {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: #525252;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 10px 1vw;
    padding: 0.5vw;
}

.user__task-input::placeholder {
    text-align:center;
}

.user__collection-input::placeholder {
    text-align:center;
}

.user__task-form {
    display: block;
    height: 9.2vh;
    background-color: #acacac8f;
}

.user__task-form:hover {
    background-color: #ff5765;
}

.user__task-input {
    height: 35%;
    width: 50%;
    margin: 2.5vh auto;
    display: block;
}


.form-group {
    margin-bottom: 10px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }
  
  .form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }

.hidden {
    display: none;
}